In [15]:
import pandas as pd

In [16]:
df = pd.read_csv(r'C:\Users\emess\OneDrive\Documentos\5º periodo\TABD\projeto\bases\dados\qtd_matriculas_municipio.csv', 
                sep=',')

df_ensino_medio = df[df['ensino_tipo'] == 'Ensino Médio']
df_estadual = df_ensino_medio[df_ensino_medio['ensino_rede'] == 'Estadual']
df_estadual = df_estadual.sort_values(by=['ano', 'no_mun'])
df_estadual

,_id,co_mun,no_mun,ano,variavel,ensino_rede,ensino_tipo,valor
338,339,2700201,Anadia,2007,Matrícula,Estadual,Ensino Médio,656.0
733,734,2700300,Arapiraca,2007,Matrícula,Estadual,Ensino Médio,8439.0
1193,1194,2700409,Atalaia,2007,Matrícula,Estadual,Ensino Médio,1444.0
1593,1594,2700508,Barra de Santo Antônio,2007,Matrícula,Estadual,Ensino Médio,403.0
1993,1994,2700607,Barra de São Miguel,2007,Matrícula,Estadual,Ensino Médio,263.0
...,...,...,...,...,...,...,...,...
40393,40394,2709152,Teotônio Vilela,2023,Matrícula,Estadual,Ensino Médio,1702.0
40418,40419,2709202,Traipu,2023,Matrícula,Estadual,Ensino Médio,719.0
40443,40444,2709301,União dos Palmares,2023,Matrícula,Estadual,Ensino Médio,2253.0
40468,40469,2709400,Viçosa,2023,Matrícula,Estadual,Ensino Médio,704.0
38083,38084,2700102,Água Branca,2023,Matrícula,Estadual,Ensino Médio,825.0

In [17]:
df_ideb = pd.read_csv(r'C:\Users\emess\OneDrive\Documentos\5º periodo\TABD\projeto\bases\dados\ideb_municipios.csv', sep=',')
df_estadual = df_ideb[df_ideb['ensino_rede'] == 'Estadual']
df_ensino_medio = df_estadual[df_estadual['ensino_tipo'] == 'Ensino Médio']
df_ensino_medio = df_ensino_medio.sort_values(by=['ano', 'no_mun'])
df_ensino_medio

,_id,co_mun,no_mun,ano,variavel,ensino_rede,ensino_tipo,valor
98,99,2700201,Anadia,2017,IDEB,Estadual,Ensino Médio,3.1
103,104,2700201,Anadia,2017,IDEB,Pública,Ensino Médio,3.1
158,159,2700300,Arapiraca,2017,IDEB,Estadual,Ensino Médio,3.4
159,160,2700300,Arapiraca,2017,IDEB,Federal,Ensino Médio,5.7
164,165,2700300,Arapiraca,2017,IDEB,Pública,Ensino Médio,3.5
...,...,...,...,...,...,...,...,...
6423,6424,2709400,Viçosa,2023,IDEB,Estadual,Ensino Médio,4.0
6424,6425,2709400,Viçosa,2023,IDEB,Federal,Ensino Médio,5.1
6429,6430,2709400,Viçosa,2023,IDEB,Pública,Ensino Médio,4.2
5658,5659,2700102,Água Branca,2023,IDEB,Estadual,Ensino Médio,4.1
5663,5664,2700102,Água Branca,2023,IDEB,Pública,Ensino Médio,4.1

In [18]:
df_indicadores = pd.read_csv(r'C:\Users\emess\OneDrive\Documentos\5º periodo\TABD\projeto\bases\dados\indicadores_escolar_estado.csv', sep=',')
# df_al = df_indicadores[df_indicadores['no_uf'] == 'Alagoas']
df_ensino_medio = df_indicadores[df_indicadores['ensino_tipo'] == 'Ensino Médio']
df_estadual = df_ensino_medio[df_ensino_medio['ensino_rede'] != 'Total']
# df_recorte_periodo = df_estadual[df_estadual['ano'] >= 2017]
df_estadual = df_estadual.sort_values(by=['ano', 'no_mun'])
df_estadual

,_id,co_mun,no_mun,ano,variavel,ensino_rede,ensino_tipo,valor
403,404,2700201,Anadia,2007,Taxa de Abandono,Estadual,Ensino Médio,29.6
405,406,2700201,Anadia,2007,Taxa de Abandono,Municipal,Ensino Médio,0.0
407,408,2700201,Anadia,2007,Taxa de Abandono,Pública,Ensino Médio,29.6
411,412,2700201,Anadia,2007,Taxa de Aprovação,Estadual,Ensino Médio,70.4
413,414,2700201,Anadia,2007,Taxa de Aprovação,Municipal,Ensino Médio,0.0
...,...,...,...,...,...,...,...,...
45023,45024,2700102,Água Branca,2023,Taxa de Aprovação,Municipal,Ensino Médio,0.0
45025,45026,2700102,Água Branca,2023,Taxa de Aprovação,Pública,Ensino Médio,97.5
45029,45030,2700102,Água Branca,2023,Taxa de Reprovação,Estadual,Ensino Médio,0.6
45031,45032,2700102,Água Branca,2023,Taxa de Reprovação,Municipal,Ensino Médio,0.0
45033,45034,2700102,Água Branca,2023,Taxa de Reprovação,Pública,Ensino Médio,0.6

In [19]:
df = pd.read_csv(r'C:\Users\emess\OneDrive\Documentos\5º periodo\TABD\projeto\bases\dados\matricula_regiao.csv', sep=',')
df_ensino_medio = df[df['ensino_tipo'] == 'Ensino Médio']
df_estadual = df_ensino_medio[df_ensino_medio['ensino_rede'] == 'Estadual']
df_estadual = df_estadual.sort_values(by=['ano', 'no_reg_plan'])
df_estadual

,_id,co_reg_plan,no_reg_plan,ano,variavel,ensino_rede,ensino_tipo,valor
1404,1405,2704.0,Agreste,2007,Matrícula,Estadual,Ensino Médio,15617.0
4,5,2701.0,Alto Sertão,2007,Matrícula,Estadual,Ensino Médio,3669.0
1864,1865,2705.0,Baixo São Francisco,2007,Matrícula,Estadual,Ensino Médio,5631.0
2784,2785,2707.0,Metropolitana,2007,Matrícula,Estadual,Ensino Médio,40264.0
464,465,2702.0,Médio Sertão,2007,Matrícula,Estadual,Ensino Médio,7355.0
...,...,...,...,...,...,...,...,...
4214,4215,2702.0,Médio Sertão,2023,Matrícula,Estadual,Ensino Médio,8357.0
4424,4425,2709.0,Norte,2023,Matrícula,Estadual,Ensino Médio,6894.0
4244,4245,2703.0,Planalto Da Borborema,2023,Matrícula,Estadual,Ensino Médio,7394.0
4394,4395,2708.0,Serrana Dos Quilombos,2023,Matrícula,Estadual,Ensino Médio,8811.0
4334,4335,2706.0,Tabuleiros Do Sul,2023,Matrícula,Estadual,Ensino Médio,9450.0