In [16]:
import pandas as pd
import os

## IDEB

In [17]:

df_ideb = pd.read_csv(r'C:\Users\emess\OneDrive\Documentos\5º periodo\TABD\projeto\bases\sociedade_e_educação\ideb_municipios.csv', sep=',')
df_ideb = df_ideb[df_ideb['ensino_rede'] == 'Estadual']
df_ideb = df_ideb[df_ideb['ensino_tipo'] == 'Ensino Médio']
df_ideb = df_ideb.sort_values(by=['ano', 'no_mun'])
df_ideb

,_id,co_mun,no_mun,ano,variavel,ensino_rede,ensino_tipo,valor
98,99,2700201,Anadia,2017,IDEB,Estadual,Ensino Médio,3.1
158,159,2700300,Arapiraca,2017,IDEB,Estadual,Ensino Médio,3.4
214,215,2700409,Atalaia,2017,IDEB,Estadual,Ensino Médio,2.9
265,266,2700508,Barra de Santo Antônio,2017,IDEB,Estadual,Ensino Médio,3.3
323,324,2700607,Barra de São Miguel,2017,IDEB,Estadual,Ensino Médio,3.6
...,...,...,...,...,...,...,...,...
6399,6400,2709152,Teotônio Vilela,2023,IDEB,Estadual,Ensino Médio,4.3
6407,6408,2709202,Traipu,2023,IDEB,Estadual,Ensino Médio,4.0
6415,6416,2709301,União dos Palmares,2023,IDEB,Estadual,Ensino Médio,5.0
6423,6424,2709400,Viçosa,2023,IDEB,Estadual,Ensino Médio,4.0
5658,5659,2700102,Água Branca,2023,IDEB,Estadual,Ensino Médio,4.1

## PIB

In [18]:
df_pib = pd.read_csv(r'C:\Users\emess\OneDrive\Documentos\5º periodo\TABD\projeto\bases\sociedade_e_educação\pib_municipio.csv', sep=',')
df_pib = df_pib[df_pib['ano'] >= 2010]
df_pib

,co_mun,no_mun,ano,variavel,economia_categoria,economia_subcategoria,valor
40,2700102,Água Branca,2010.0,Produto Interno Bruto a preços correntes,Preço correntes,Mil Reais,73774.0
41,2700102,Água Branca,2010.0,Valor adicionado bruto a preços correntes da a...,Preço correntes da agropecuária,Mil Reais,8778.0
42,2700102,Água Branca,2010.0,Valor adicionado bruto a preços correntes da i...,Preço correntes da indústria,Mil Reais,2573.0
43,2700102,Água Branca,2010.0,Valor adicionado bruto a preços correntes de S...,Preço correntes de Serviço,Mil Reais,58837.0
44,2700102,Água Branca,2010.0,Valor adicionado bruto a preços correntes total,Preço correntes total,Mil Reais,70187.0
...,...,...,...,...,...,...,...
10195,2709400,Viçosa,2021.0,Produto Interno Bruto a preços correntes,Preço correntes,Mil Reais,594121.0
10196,2709400,Viçosa,2021.0,Valor adicionado bruto a preços correntes da a...,Preço correntes da agropecuária,Mil Reais,286082.0
10197,2709400,Viçosa,2021.0,Valor adicionado bruto a preços correntes da i...,Preço correntes da indústria,Mil Reais,22606.0
10198,2709400,Viçosa,2021.0,Valor adicionado bruto a preços correntes de S...,Preço correntes de Serviço,Mil Reais,271203.0
10199,2709400,Viçosa,2021.0,Valor adicionado bruto a preços correntes total,Preço correntes total,Mil Reais,579892.0

## População Estimada por Idade

In [19]:
df_pop_idade = pd.read_csv(r'C:\Users\emess\OneDrive\Documentos\5º periodo\TABD\projeto\bases\sociedade_e_educação\populacao_idade.csv', sep=',')
df_pop_idade = df_pop_idade[df_pop_idade['ano'] >= 2010]
df_pop_idade

,_id,co_mun,no_mun,ano,variavel,pop_categoria,pop_subcategoria,valor
162,163,2700102,Água Branca,2010,População residente estimada,Por idade,De 0 a 4 anos,2047
163,164,2700102,Água Branca,2010,População residente estimada,Por idade,De 10 a 14 anos,2406
164,165,2700102,Água Branca,2010,População residente estimada,Por idade,De 15 a 19 anos,2154
165,166,2700102,Água Branca,2010,População residente estimada,Por idade,De 20 a 24 anos,1757
166,167,2700102,Água Branca,2010,População residente estimada,Por idade,De 25 a 29 anos,1453
...,...,...,...,...,...,...,...,...
38551,38552,2709400,Viçosa,2021,População residente estimada,Por idade,De 65 a 69 anos,806
38552,38553,2709400,Viçosa,2021,População residente estimada,Por idade,De 70 a 74 anos,547
38553,38554,2709400,Viçosa,2021,População residente estimada,Por idade,De 75 a 79 anos,366
38554,38555,2709400,Viçosa,2021,População residente estimada,Por idade,De 80 anos ou mais,445
38555,38556,2709400,Viçosa,2021,População residente estimada,Por idade,Total,25655

## População Estimada

In [20]:
df_populacao = pd.read_csv(r'C:\Users\emess\OneDrive\Documentos\5º periodo\TABD\projeto\bases\sociedade_e_educação\populacao_estimada_municipio.csv',
                           sep=',')
df_populacao = df_populacao[df_populacao['ano'] >= 2010]
df_populacao

,_id,co_mun,no_mun,ano,variavel,pop_categoria,pop_subcategoria,valor
8,9,2700102,Água Branca,2011,População residente estimada,Total,Total,19433
9,10,2700102,Água Branca,2012,População residente estimada,Total,Total,19763
10,11,2700102,Água Branca,2013,População residente estimada,Total,Total,20545
11,12,2700102,Água Branca,2014,População residente estimada,Total,Total,20601
12,13,2700102,Água Branca,2015,População residente estimada,Total,Total,20434
...,...,...,...,...,...,...,...,...
2035,2036,2709103,Taquarana,2022,População residente estimada,Total,Total,19032
2036,2037,2709152,Teotônio Vilela,2022,População residente estimada,Total,Total,38053
2037,2038,2709202,Traipu,2022,População residente estimada,Total,Total,23565
2038,2039,2709301,União dos Palmares,2022,População residente estimada,Total,Total,59280
2039,2040,2709400,Viçosa,2022,População residente estimada,Total,Total,76430

## Cadunico Municipios

In [22]:
df_cadunico = pd.read_csv(r'C:\Users\emess\OneDrive\Documentos\5º periodo\TABD\projeto\bases\sociedade_e_educação\cadunico_municipios.csv',
                          sep=',')
df_cadunico = df_cadunico[df_cadunico['inf_subcategoria'] == 'Dezembro']
df_cadunico

,co_mun,no_mun,ano,variavel,inf_categoria,inf_subcategoria,valor
1,2700102,Água Branca,2012,Cadastro Único,Quantidade total de famílias inscritas no Cada...,Dezembro,4433
6,2700102,Água Branca,2012,Cadastro Único,Quantidade total de pessoas inscritas no Cadas...,Dezembro,17348
12,2700102,Água Branca,2013,Cadastro Único,Quantidade total de famílias inscritas no Cada...,Dezembro,4422
24,2700102,Água Branca,2013,Cadastro Único,Quantidade total de pessoas inscritas no Cadas...,Dezembro,17097
36,2700102,Água Branca,2014,Cadastro Único,Quantidade total de famílias inscritas no Cada...,Dezembro,4623
...,...,...,...,...,...,...,...
29304,2709400,Viçosa,2021,Cadastro Único,Quantidade total de pessoas inscritas no Cadas...,Dezembro,17399
29316,2709400,Viçosa,2022,Cadastro Único,Quantidade total de famílias inscritas no Cada...,Dezembro,7289
29328,2709400,Viçosa,2022,Cadastro Único,Quantidade total de pessoas inscritas no Cadas...,Dezembro,17385
29340,2709400,Viçosa,2023,Cadastro Único,Quantidade total de famílias inscritas no Cada...,Dezembro,7345
29352,2709400,Viçosa,2023,Cadastro Único,Quantidade total de pessoas inscritas no Cadas...,Dezembro,17386