In [7]:
import pandas as pd
import os

current_dir_path = os.path.dirname(os.path.abspath('__file__'))

## IDEB

In [8]:
ideb_municipios_path = os.path.join(current_dir_path, '..', 'bases', 'sociedade_e_educação', 'ideb_municipios.csv')


df_ideb = pd.read_csv(ideb_municipios_path, sep=',')
df_ideb = df_ideb.sort_values(by=['ano', 'no_mun'])
df_ideb

,_id,co_mun,no_mun,ano,variavel,ensino_rede,ensino_tipo,valor
60,61,2700201,Anadia,2005,IDEB,Estadual,Ensino Fundamental - Anos Finais,3.1
61,62,2700201,Anadia,2005,IDEB,Estadual,Ensino Fundamental - Anos Iniciais,2.9
62,63,2700201,Anadia,2005,IDEB,Municipal,Ensino Fundamental - Anos Finais,2.1
63,64,2700201,Anadia,2005,IDEB,Municipal,Ensino Fundamental - Anos Iniciais,2.3
64,65,2700201,Anadia,2005,IDEB,Pública,Ensino Fundamental - Anos Finais,2.2
...,...,...,...,...,...,...,...,...
5659,5660,2700102,Água Branca,2023,IDEB,Municipal,Ensino Fundamental - Anos Finais,4.4
5660,5661,2700102,Água Branca,2023,IDEB,Municipal,Ensino Fundamental - Anos Iniciais,5.6
5661,5662,2700102,Água Branca,2023,IDEB,Pública,Ensino Fundamental - Anos Finais,4.4
5662,5663,2700102,Água Branca,2023,IDEB,Pública,Ensino Fundamental - Anos Iniciais,5.6
5663,5664,2700102,Água Branca,2023,IDEB,Pública,Ensino Médio,4.1

In [13]:
df_ideb.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6430 entries, 60 to 5663
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   _id          6430 non-null   int64
 1   co_mun       6430 non-null   int64
 2   no_mun       6430 non-null   object
 3   ano          6430 non-null   int64
 4   variavel     6430 non-null   object
 5   ensino_rede  6430 non-null   object
 6   ensino_tipo  6430 non-null   object
 7   valor        6430 non-null   float64
dtypes: float64(1), int64(3), object(4)
memory usage: 452.1+ KB

## PIB

In [9]:
pib_municipio_path = os.path.join(current_dir_path, '..', 'bases', 'sociedade_e_educação', 'pib_municipio.csv')
df_pib = pd.read_csv(pib_municipio_path, sep=',')
df_pib

,co_mun,no_mun,ano,variavel,economia_categoria,economia_subcategoria,valor
0,2700102,Água Branca,2002.0,Produto Interno Bruto a preços correntes,Preço correntes,Mil Reais,36381.0
1,2700102,Água Branca,2002.0,Valor adicionado bruto a preços correntes da a...,Preço correntes da agropecuária,Mil Reais,11774.0
2,2700102,Água Branca,2002.0,Valor adicionado bruto a preços correntes da i...,Preço correntes da indústria,Mil Reais,1339.0
3,2700102,Água Branca,2002.0,Valor adicionado bruto a preços correntes de S...,Preço correntes de Serviço,Mil Reais,22480.0
4,2700102,Água Branca,2002.0,Valor adicionado bruto a preços correntes total,Preço correntes total,Mil Reais,35594.0
...,...,...,...,...,...,...,...
10195,2709400,Viçosa,2021.0,Produto Interno Bruto a preços correntes,Preço correntes,Mil Reais,594121.0
10196,2709400,Viçosa,2021.0,Valor adicionado bruto a preços correntes da a...,Preço correntes da agropecuária,Mil Reais,286082.0
10197,2709400,Viçosa,2021.0,Valor adicionado bruto a preços correntes da i...,Preço correntes da indústria,Mil Reais,22606.0
10198,2709400,Viçosa,2021.0,Valor adicionado bruto a preços correntes de S...,Preço correntes de Serviço,Mil Reais,271203.0
10199,2709400,Viçosa,2021.0,Valor adicionado bruto a preços correntes total,Preço correntes total,Mil Reais,579892.0

In [14]:
df_pib.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10200 entries, 0 to 10199
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   co_mun                 10200 non-null  int64
 1   no_mun                 10200 non-null  object
 2   ano                    10200 non-null  float64
 3   variavel               10200 non-null  object
 4   economia_categoria     10200 non-null  object
 5   economia_subcategoria  10200 non-null  object
 6   valor                  10200 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 557.9+ KB